.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  margin: 0;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}


.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
  word-wrap: break-all;
}

.questions {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  border-left: 0.1px solid lightgrey;
  font-weight: bolder;
  vertical-align: bottom;
  height: 34px;
  cursor: pointer;
}

.questions:hover,
.questions:focus {
  background: #f3f3f3;
}
.reader {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  border-left: 0.1px solid lightgrey;
  border-right: 0.1px solid lightgrey;      
  font-weight: bolder;
  vertical-align: bottom;
  height: 34px;
  cursor: pointer;
}

.reader:hover,
.reader:focus {
  background: #f3f3f3;
}


.back {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.pre { 
 display: 'block';
 text-align: left;
 padding: 0px 0px;
 margin: 0;
 overflow: scroll; }